header {
  position: relative;
  z-index: 1;
}


.header-wrapper {
  width: 80vw;
  height: calc(100vh - 51px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: calc(1rem + 1.5vw);
    letter-spacing: 0.5em;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  p {
    width: 60%;
    text-align: center;
    overflow: hidden;

    @include media(">=phone", "<lgphone") {
      font-size: 12px;
      width: 100%;
    }

    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
    }

    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
    }
  }
}