.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-wrapper {
  width: 100vw;
  padding: 0.5rem 0;
  background-color: black;
  width: calc(100vw);

  .links-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    button,
    a {
      text-decoration: none;
      padding: 10px;
      transition: all 0.2s ease-in-out;
      font-size: 13px;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      color: #fff;

      &:hover {
        border-bottom: 1px solid #fff;
      }

      &.home {
        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/icons/home.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    .active {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}